<div  fxLayout="column" class="mat-elevation-z1" fxFlex="100%" fxFlex.gt-sm="100%">


  <div align="center">

    <div>
      <button mat-flat-button [ngStyle]= "{'background-color':'#448aff',
      'font-size': '50px', width:'50%',
      height: '100px', 'border-style': 'solid', 'margin-top': '30px'}" color="primary" (click)="gotoContacts()">Contacts</button>
    </div>

    <div>
      <button mat-flat-button [ngStyle]= "{'background-color':'#448aff',
      'font-size': '50px', width:'50%',
      height: '100px', 'border-style': 'solid', 'margin-top': '30px'}" color="primary" (click)="gotoPlatformEvents()">Platform Events</button>
    </div>

  </div>
</div>
