<div  fxLayout="column" class="mat-elevation-z1" fxFlex="100%" fxFlex.gt-sm="100%">
<!--  placeholder for input start-->

  <!--  placeholder for input end-->

  <table mat-table [dataSource]="dataSource" matSort>

    <!-- Position Column -->
    <ng-container matColumnDef="Id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.Id}} </td>
    </ng-container>

    <!-- First Name Column -->
    <ng-container matColumnDef="FirstName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
      <td mat-cell *matCellDef="let element"> {{element.FirstName}} </td>
    </ng-container>

    <!-- Last Name Column -->
    <ng-container matColumnDef="LastName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
      <td mat-cell *matCellDef="let element"> {{element.LastName}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[2, 4, 6, 8, 10]" showFirstLastButtons></mat-paginator>
</div>


<div *ngIf="!contactsExists">
  <!-- Show the heading -->
  <div>
    <mat-grid-list cols="4" rowHeight="50px">
      <mat-grid-tile
        [colspan]="4"
        [rowspan]="1">
        <p class="a"> {{contactsExistHeader}}</p>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>


<div *ngIf="contactsExists">
  <!-- Show the heading -->
  <div>
    <mat-grid-list cols="4" rowHeight="50px">
      <mat-grid-tile
        [colspan]="4"
        [rowspan]="1">
        <p class="a"> {{contactsExistHeader}}</p>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div *ngFor="let contact of contacts">
    <mat-grid-list cols="4" rowHeight="60px" >
      <p> {{contact.FirstName}} </p>
      <p> {{contact.LastName}} </p>
    </mat-grid-list>
  </div>


</div>
