
<div *ngIf="eventFieldSchema">


    <!-- Show the heading -->
  <div>
    <mat-grid-list cols="4" rowHeight="50px">
      <mat-grid-tile
        [colspan]="4"
        [rowspan]="1">
        <p class="a"> {{platformEventName}}</p>
      </mat-grid-tile>
    </mat-grid-list>
  </div>




    <!-- Show the data -->
  <div class="event-detail-full-width">
    <mat-grid-list cols="4" rowHeight="80px">
      <mat-grid-tile
        *ngFor="let eventField of eventFieldSchema"
        [colspan]="4"
        [rowspan]="1">
        <mat-form-field class="example-full-width" >
          <mat-label> {{eventField.fullName}} </mat-label>
          <input  [(ngModel)]="eventField.data" placeholder={{eventField.label}}/>
          <mat-hint> required-{{eventField.required}}, type-{{eventField.type}}, len-{{eventField.length}} </mat-hint>
        </mat-form-field>
        <div>

        </div>
      </mat-grid-tile>
    </mat-grid-list>

  </div>

  <div>
    <!-- back button -->
    <mat-grid-list cols="4" rowHeight="80px">
      <mat-grid-tile
        *ngFor="let backButtonTile of backButtonTiles"
        [colspan]="backButtonTile.cols"
        [rowspan]="backButtonTile.rows"
        [style.background]="backButtonTile.color">
        <div>
          <button mat-flat-button [ngStyle]="{'background-color':'#90a4ae'}" (click)="goBack()">Back</button>
        </div>
      </mat-grid-tile>

      <!-- middle space tile -->
      <mat-grid-tile
        *ngFor="let middleSpaceTile of middleSpaceTiles"
        [colspan]="middleSpaceTile.cols"
        [rowspan]="middleSpaceTile.rows"
        [style.background]="middleSpaceTile.color">
        <p class="a"> {{middleSpaceTile.text}} </p>
      </mat-grid-tile>

      <!-- Save button tile -->

      <mat-grid-tile
        *ngFor="let saveButtonTile of saveButtonTiles"
        [colspan]="saveButtonTile.cols"
        [rowspan]="saveButtonTile.rows"
        [style.background]="saveButtonTile.color">
        <div>
          <button mat-flat-button [ngStyle]="{'background-color':'#448aff'}" (click)="save()">Save</button>
        </div>
      </mat-grid-tile>
    </mat-grid-list>

  </div>
</div>
