<div>
  <p> {{eventSchema.fullName}} + ' fields.' </p>
</div>
<div *ngIf="eventFieldSchema">
  <li *ngFor="let eventField of eventFieldSchema">
    <div><span>Name: </span>{{eventField.fullName}}</div>
    <div>
        <input [(ngModel)]="eventField.data" placeholder={{eventField.label}}/>
    </div>
  </li>
  <div class="control-buttons">
    <button mat-flat-button [ngStyle]="{'background-color':'#90a4ae'}" (click)="goBack()">Back</button>
    <button mat-flat-button [ngStyle]="{'background-color':'#448aff'}" (click)="save()">Save</button>
  </div>
</div>
