.messages-header {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: red;
  font-weight: bold
}

.messages-content {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: small;
}
