<div *ngIf="messageService.messages.length">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <button mat-flat-button [ngStyle]="{'background-color':'#90a4ae',
          'color': '#ffffff'}" (click)="messageService.clear()">Clear</button>
        </mat-panel-title>
        <mat-panel-description class="messages-header">
          Messages
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="messages-content" *ngFor='let message of messageService.messages'> {{message}} </div>
    </mat-expansion-panel>
  </mat-accordion>
<!--<h2>Messages</h2>-->
  <!--<button mat-flat-button [ngStyle]="{'background-color':'#90a4ae'}"-->
          <!--(click)="messageService.clear()">Clear</button>-->
  <!--<div *ngFor='let message of messageService.messages'> {{message}} </div>-->
</div>


